.homePage{
    display: flex;
    height: 100%;

    .textContainer{
        flex: 3;

        .wrapper{
            padding-right: 100px;
        }
    }

    .imgContainer{
        flex: 2;
        background-color: #f9efdb ;
        position: relative;
        display: flex;
        align-items: center;

        img{
            width: 130%;
            position: absolute;
            right: 0;
        }

    
    }
}